/*Navigation bar for NatGeo*/
nav{
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    height: 49px;
    justify-content: flex-start;
    padding: 0 17px;
}


nav a{

}

/*body content*/
body{
    background-color: black;
}

h1{
    color:#e6e6e6;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 3px;
    letter-spacing: 3.5px;
    line-height: 1.5;
    line-height: 1.19;
    text-transform: uppercase;
    text-align: center;
}
h2{
    color: white;
}
h3{
    color: white;
}

p{
    color: white;
}
